*{
    background-color: #080;
}

div{
    border: 13px solid #FF0;
     margin: 19px;
    width: 870px;
    height: 420px;

}

span{
    position: absolute;
    left: 25%;
    top: 28%;

}

#div_1{

    color: #FFF;
    font-size: 30px;
    border: 13px solid #FF0;
    margin: 19px;
    width: 800px;
    height: 355px;

}